@import '../../utils/variable.scss';

.wrapp-pagination{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    
    .total-page-show{
        display: flex;
        font-size: $font2;
        color: $color7;
        justify-content: center;
    }

    .container-btn-pagination{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
        .btn-group-pagination{
            display: flex;
            padding: 5px 8px;
            align-items: center;
            font-size: $font2;
            border: none;
            outline: none;
            cursor: pointer;
            color: $color2;
            background-color: $color10;
            border-radius: 2px;
        }

        .column-list-number-pagination{
            display: flex;

            li{
                font-size: $font2;
                color: #333;
                padding: 5px 10px;
                border-radius: 2px;
                background-color: transparent;
                cursor: pointer;
                list-style: none;
                transition: 0.2s ease-in-out;
            }

            .paginate-active{
                background-color: $color6;
                color: #fff;
            }
        }
    }
}