@import '../../utils/variable.scss';

.wrapp-input-card{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: 10px;

    .label-input-card{
        display: flex;
        font-size: $font2;
        color: $color2;
        margin-bottom: 5px;
    }

    .img-input-user{
        display: none;
        height: 70px;
        width: 70px;
        border-radius: 500px;
        object-fit: cover;
        object-position: center;
        margin: 10px 0;
    }

    .container-input-card{
        display: flex;
        position: relative;
        border-radius: 5px;

        .txt-input-card{
            display: flex;
            height: auto;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $color20;
            outline: none;
            padding: 7px 12px;
            font-size: $font2;
            color: $color2;
        }
        .txt-input-card::placeholder{
            color: $color2;
        }

        .btn-open-file{
            display: none;
            height: 100%;
            width: 100%;
            padding: 7px 12px;
            position: absolute;
            background-color: #fff;
            cursor: pointer;
            outline: none;
            border: 1px solid $color20;
            border-radius: 5px;
            font-size: $font2;
            color: $color2;
            align-items: center;
        }
    }

    .error-message-input{
        display: flex;
        font-size: 11px;
        margin-top: 5px;
        color: $color4;
    }
}