@import '../../utils/variable.scss';

@mixin maxMobile {
    @media (max-width: $navbarMobile) {
        @content;
    }
}

.wrapp-create-new-password{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $color1;

    @include maxMobile(){
        padding: 0 10px;
    }

    .form-create-new-password{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 400px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 8px 10px -1px rgba(0,0,0,0.1);
        padding: 20px;
        
        .img-logoweb-create-new-password{
            display: flex;
            max-width: 100%;
        }

        .akun-user{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .profile-user{
                height: 40px;
                width: 40px;
                object-fit: cover;
                object-position: center;
                border-radius: 500px;
            }

            i{
                display: flex;
                height: 40px;
                width: 40px;
                border-radius: 500px;
                color: #fff;
                align-items: center;
                font-size: 15px;
                justify-content: center;
                background-color: $color6;
            }

            .email-user{
                font-size: 12px;
                font-family: 'Mulish', sans-serif;
                color: #333;
                font-weight: 700;
                margin-top: 5px;
            }
        }

        .column-input-create-new-password{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            padding: 20px 0 10px 0;
        }

        .column-btn-create-new-password{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
        }
    }
}