@import '../../utils/variable.scss';

.wrapp-kuliah-pengganti{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin-left: 70px;
    background-color: $color1;
    padding: 80px 30px 20px 50px;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;

    .nothing-jadwal-kuliah-pengganti{
        display: flex;
        height: 80vh;
        margin: 0px auto;
        align-items: center;
        color: $color2;
        font-size: $font1;
    }
}