@import '../../utils/variable.scss';

@mixin maxMobile {
    @media (max-width: $navbarMobile) {
        @content;
    }
}

@mixin minMobile {
    @media (min-width: 577px) and (max-width: $mobile) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 853px) and (max-width: $maxTabCardJadwal) {
        @content;
    }
}

@mixin minWidthAndMaxDesktopCardJadwal {
    @media (min-width: 1125px) and (max-width: 1460px) {
        @content;
    }
}

.wrapp-kuliah-pengganti{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin-left: 70px;
    background-color: $color1;
    padding: 80px 30px 20px 50px;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;

    @include maxMobile(){
        padding: 130px 10px 20px 10px;
        margin-left: 0;
    }

    @include minMobile(){
        padding: 80px 40px 20px 40px;
    }

    @include mobile(){
        flex-direction: column;
    }

    @include tablet(){
        padding: 80px 0px 20px 50px;
    }

    @include minWidthAndMaxDesktopCardJadwal(){
        padding: 80px 10px 20px 50px;
    }

    .nothing-jadwal-kuliah-pengganti{
        display: flex;
        height: 80vh;
        margin: 0px auto;
        align-items: center;
        color: $color2;
        font-size: $font1;
    }
}

.wrapp-kuliah-pengganti-active{
    margin-left: 230px;
    @include maxMobile(){
        margin-left: 0;
    }
}