@import '../../utils/variable.scss';

@mixin maxMobile {
    @media (max-width: $navbarMobile) {
        @content;
    }
}

@mixin minMobile {
    @media (min-width: 577px) and (max-width: $mobile) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.wrapp-form-send-tugas{
    display: flex;
    margin-left: 70px;
    background-color: $color1;
    transition: 0.3s ease-in-out;
    padding: 80px 50px 40px 50px;

    @include maxMobile(){
        padding: 130px 10px 40px 10px;
        margin-left: 0;
    }

    @include minMobile(){
        padding: 80px 40px 20px 40px;
    }

    .container-form-send-tugas{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $color16;
        background-color: #fff;

        .title-form-send-tugas{
            display: flex;
            padding: 20px;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid $color16;
        }

        .column-text-send-tugas{
            display: flex;
            flex-direction: column;
            padding: 20px;

            .column-btn-form-upload-tugas{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

.wrapp-form-send-tugas-active{
    margin-left: 230px;
    @include maxMobile(){
        margin-left: 0;
    }
}