@import '../../utils/variable.scss';

.list-table{
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 1px solid $color16;
    width: calc(100%/7);
    font-size: $font2;
    color: $color2;
    justify-content: flex-start;
    
    .btn-list-table{
        display: flex;
        position: relative;
        border-radius: 3px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: $font2;
        color: $color2;
        text-align: start;
        align-items: center;
        transition: 0.2s ease-in-out;

        .content-list-table{
            z-index: 1;
        }

        i{
            display: none;
            font-size: 11px;
            color: #fff;
            margin-left: 8px;
            margin-top: -3px;
            z-index: 1;
        }

        .btn-list-table-active{
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: #000;
            border-radius: 3px;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }

    .box-hadir{
        display: none;
        align-items: center;
        padding: 5px 10px;
        background-color: $color12;
        border-radius: 2px;
        color: #fff;
        cursor: default;
    }
}