@import '../../utils/variable.scss';

@mixin maxMobile {
    @media (max-width: $navbarMobile) {
        @content;
    }
}

@mixin minMobile {
    @media (min-width: 577px) and (max-width: $mobile) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 853px) and (max-width: $maxTabCardJadwal) {
        @content;
    }
}

@mixin responsiveTable {
    @media (max-width: 1350px) {
        @content;
    }
}

.wrapp-ruang-materi{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    background-color: $color1;
    transition: 0.3s ease-in-out;
    padding: 80px 50px 40px 50px;

    @include maxMobile(){
        padding: 130px 10px 40px 10px;
        margin-left: 0;
    }

    @include minMobile(){
        padding: 80px 40px 20px 40px;
    }

    .column-atas-ruang-materi{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: #fff;

        .column-btn-page-materi{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border-bottom: 1px solid $color16;
            padding: 15px 15px 0 15px;
        }

        .container-tools-ruang-materi{
            display: flex;
            flex-direction: column;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
            
            .title-ruang-materi{
                display: flex;
                text-align: start;
                font-size: 16px;
                color: $color2;
                font-weight: 600;
                margin: 15px 15px 0 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid $color16;
            }
    
            .column-tools-ruang-materi{
                padding: 5px;
            }
        }
    }

    .column-bawah-ruang-materi{
        display: flex;
        flex-direction: column;
        background-color: #fff;

        .container-materi-tambahan{
            display: flex;
            width: 100%;
            background-color: #fff;
            padding: 0 15px 15px 15px;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
    
            .container-scroll-ruang-materi{
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow-x: auto;
    
                .body-ruang-materi{
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    border-left: 1px solid $color16;

                    @include responsiveTable(){
                        width: 1200px;
                    }
    
                    .column-list-materi{
                        display: flex;
                        border-bottom: 1px solid $color16;
                        transition: 0.2s ease-in-out;
                        background-color: $color17;
                    }
    
                    .no-data-available-ruang-materi{
                        display: flex;
                        font-size: $font2;
                        color: $color2;
                        padding: 10px;
                        justify-content: center;
                        border-right: 1px solid $color16;
                    }
                }
            }
        }
    
        .container-video-pembelajaran{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 40px 25px 40px 40px;
            background-color: #fff;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;

            @include maxMobile(){
                flex-direction: column;
                padding: 40px 5px 40px 20px;
            }

            .wrapp-card-video-pembelajaran{
                width: calc(100%/3);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: calc(100%/2);
                }
            }
        }
    
        .container-slide-pembelajaran{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            padding: 40px 25px 40px 40px;
            background-color: #fff;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;

            @include maxMobile(){
                flex-direction: column;
                padding: 40px 5px 40px 20px;
            }
            
            .card-slide-pembelajaran{
                width: calc(100%/3);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: calc(100%/2);
                }
            }
        }
    
        .container-pagination-ruang-materi{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 0 15px 15px 15px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
        }
    }

    .container-csv-ruang-materi{
        display: none;
    }

    .container-excel-ruang-materi{
        display: none;
    }
}

.wrapp-ruang-materi-active{
    margin-left: 230px;
    @include maxMobile(){
        margin-left: 0;
    }
}

@keyframes opacity{
    to{
        opacity: 1;
    }
}