@import '../../utils/variable.scss';

@mixin maxMobile {
    @media (max-width: $navbarMobile) {
        @content;
    }
}

@mixin minMobile {
    @media (min-width: 577px) and (max-width: $mobile) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.wrapp-navmenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    padding: 20px 0;
    width: 75px;
    background-color: #fff;
    align-items: flex-start;
    transition: 0.3s ease-in-out;
    z-index: 97;
    box-shadow: 2px 0 15px -1px $color25;
    overflow: hidden;

    @include maxMobile(){
        left: -230px;
        width: 230px;
    }

    .txt-menu{
        display: flex;
        font-size: $font2;
        color: $color6;
        margin-bottom: 10px;
        padding-left: 20px;
    }

    .container-btn-bar-navmenu{
        display: flex;
        flex-direction: column;
        width: 100%;

        .btn-bar-navmenu{
            display: flex;
            position: relative;
            width: 100%;
            align-items: center;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: $font2;
            color: $color2;
            transition: 0.2s ease-in-out;
            padding: 5px 20px;
            &:hover{
                background-color: $color10;
            }
    
            i{
                padding: 10px;
                background-color: $color10;
                margin-right: 10px;
                border-radius: 2px;
                transition: 0.4s ease-in-out;
            }

            .name-btn-bar-navmenu{
                display: none;
                @include maxMobile(){
                    display: flex;
                }
            }

            .name-btn-bar-navmenu-mobile{
                display: none;
                @include maxMobile(){
                    display: flex;
                }
            }

            .name-btn-bar-navmenu-desktop{
                display: none;
                @include maxMobile(){
                    display: flex;
                }
            }

            .name-btn-bar-navmenu-desktop-active{
                display: flex;
                @include maxMobile(){
                    display: flex;
                }
            }
    
            .icon-arrow{
                display: none;
                position: absolute;
                right: 0;
                font-size: 14px;
                background-color: transparent;
                transition: 0.2s ease-in-out;

                @include maxMobile(){
                    display: flex;
                }
            }

            .icon-arrow-mobile{
                display: none;
                @include maxMobile(){
                    display: flex;
                }
            }

            .icon-arrow-desktop{
                display: none;
                @include maxMobile(){
                    display: flex;
                }
            }

            .icon-arrow-desktop-active{
                display: flex;
                @include maxMobile(){
                    display: flex;
                }
            }
        }
    
        .active-bar-navmenu{
            background-color: $color10;
        }
    
        .container-nav-collapse{
            display: flex;
            flex-direction: column;
            height: 0px;
            width: 100%;
            background-color: $color1;
            transition: 0.2s ease-in-out;
            overflow: hidden;
    
            .btn-menu-collapse{
                display: flex;
                background-color: transparent;
                outline: none;
                border: none;
                align-items: center;
                padding: 8px 40px;
                cursor: pointer;
                font-size: $font2;
                transition: 0.2s ease-in-out;
                &:hover{
                    background-color: $color10;
                }
    
                i{
                    font-size: 8px;
                    margin-right: 10px;
                }
            }
        }

        .container-nav-collapse-mobile{
            @include maxMobile(){
                height: 0;
            }
        }

        .container-nav-collapse-mobile-active{
            @include maxMobile(){
                height: 62px;
            }
        }

        .container-nav-collapse-desktop{
            height: 0;
            @include maxMobile(){
                height: 0;
            }
        }

        .container-nav-collapse-desktop-active{
            height: 62px;
            @include maxMobile(){
                height: 0;
            }
        }
    }
}

.left-wrapp-navmenu-mobile{
    @include maxMobile(){
        left: -230px;
    }
}

.left-wrapp-navmenu-mobile-active{
    @include maxMobile(){
        left: 0;
    }
}

.width-wrapp-navmenu-desktop-active{
    width: 230px;
}