@import '../../utils/variable.scss';

.wrapp-ruang-tugas{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    background-color: $color1;
    transition: 0.3s ease-in-out;
    padding: 80px 50px 40px 50px;

    .column-atas-ruang-tugas{
        display: flex;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        flex-direction: column;
        background-color: #fff;

        .column-btn-page-ruang-tugas{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid $color16;
            padding: 15px 15px 0 15px;
            margin-bottom: 10px;
        }

        .column-tools-ruang-tugas{
            display: flex;
            padding: 5px;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
        }
    }

    .column-bawah-ruang-tugas{
        display: flex;
        width: 100%;
        background-color: #fff;
        padding: 0 15px 15px 15px;
        opacity: 0;
        animation: opacity 0.3s ease-in-out forwards;

        .container-scroll-ruang-tugas{
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-x: auto;

            .body-ruang-tugas{
                display: flex;
                flex-direction: column;
                width: auto;
                border-left: 1px solid $color16;

                .column-list-ruang-tugas{
                    display: flex;
                    border-bottom: 1px solid $color16;
                    transition: 0.2s ease-in-out;
                    background-color: $color17;
                }

                .column-list-ruang-tugas-active{
                    background-color: #fff;
                }

                .no-data-available-ruang-tugas{
                    display: flex;
                    font-size: $font2;
                    color: $color2;
                    padding: 10px;
                    justify-content: center;
                    border-bottom: 1px solid $color16;
                    border-right: 1px solid $color16;
                }
            }
        }
    }

    .container-pagination-ruang-tugas{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 0 15px 15px 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        opacity: 0;
        animation: opacity 0.3s ease-in-out forwards;
    }
}

@keyframes opacity{
    to{
        opacity: 1;
    }
}