@import '../../utils/variable.scss';

@mixin maxMobile {
    @media (max-width: $navbarMobile) {
        @content;
    }
}

@mixin minMobile {
    @media (min-width: 577px) and (max-width: $mobile) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin responsiveTable {
    @media (max-width: 1350px) {
        @content;
    }
}

@mixin responsiveTableNilaiTugas {
    @media (max-width: 1600px) {
        @content;
    }
}

.wrapp-ruang-tugas{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    background-color: $color1;
    transition: 0.3s ease-in-out;
    padding: 80px 50px 40px 50px;

    @include maxMobile(){
        padding: 130px 10px 40px 10px;
        margin-left: 0;
    }

    @include minMobile(){
        padding: 80px 40px 20px 40px;
    }

    .column-atas-ruang-tugas{
        display: flex;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        flex-direction: column;
        background-color: #fff;

        .column-btn-page-ruang-tugas{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid $color16;
            padding: 15px 15px 0 15px;
            margin-bottom: 10px;
        }

        .column-tools-ruang-tugas{
            display: flex;
            padding: 5px;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
        }
    }

    .column-bawah-ruang-tugas{
        display: flex;
        flex-direction: column;
        background-color: #fff;

        .column-data-penugasan{
            display: flex;
            width: 100%;
            background-color: #fff;
            padding: 0 15px 15px 15px;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
    
            .container-scroll-ruang-tugas{
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow-x: auto;
    
                .body-ruang-tugas{
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    border-left: 1px solid $color16;

                    @include responsiveTable(){
                        width: 1200px;
                    }
    
                    .column-list-ruang-tugas{
                        display: flex;
                        border-bottom: 1px solid $color16;
                        transition: 0.2s ease-in-out;
                        background-color: $color17;
                    }
    
                    .no-data-available-ruang-tugas{
                        display: flex;
                        font-size: $font2;
                        color: $color2;
                        padding: 10px;
                        justify-content: center;
                        border-bottom: 1px solid $color16;
                        border-right: 1px solid $color16;
                    }
                }
            }
        }
    
        .column-data-nilai-tugas{
            display: flex;
            width: 100%;
            background-color: #fff;
            padding: 20px 15px 40px 15px;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
    
            .container-scroll-data-nilai-tugas{
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow-x: auto;
    
                .body-data-nilai-tugas{
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    border-left: 1px solid $color16;

                    @include responsiveTableNilaiTugas(){
                        width: 1400px;
                    }
    
                    .column-list-data-nilai-tugas{
                        display: flex;
                        border-bottom: 1px solid $color16;
                        transition: 0.2s ease-in-out;
                        background-color: $color17;
                    }
    
                    .no-data-available-data-nilai-tugas{
                        display: flex;
                        font-size: $font2;
                        color: $color2;
                        padding: 10px;
                        justify-content: center;
                        border-bottom: 1px solid $color16;
                        border-right: 1px solid $color16;
                    }
                }
            }
        }
    
        .container-pagination-ruang-tugas{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 0 15px 15px 15px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            opacity: 0;
            animation: opacity 0.3s ease-in-out forwards;
        }
    }

    .container-csv-ruang-tugas{
        display: none;
    }

    .container-excel-ruang-tugas{
        display: none;
    }
}

.wrapp-ruang-tugas-active{
    margin-left: 230px;
    @include maxMobile(){
        margin-left: 0;
    }
}

@keyframes opacity{
    to{
        opacity: 1;
    }
}