@import '../../utils/variable.scss';

.head-absen{
    display: flex;
    width: 100%;
    background-color: $color16;

    .table-row-head-absen{
        display: flex;
        width: 100%;

        th{
            display: flex;
            font-size: $font2;
            color: $color2;
            width: calc(96%/7);
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            text-align: start;
        }
    }
}