@import '../../utils/variable.scss';

.wrapp-jadwal-kuliah{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin-left: 70px;
    background-color: $color1;
    padding: 80px 40px 20px 50px;
    transition: 0.3s ease-in-out;
    justify-content: space-between;
}