@import '../../utils/variable.scss';

@mixin maxMobile {
    @media (max-width: $navbarMobile) {
        @content;
    }
}

@mixin minMobile {
    @media (min-width: 577px) and (max-width: $mobile) {
        @content;
    }
}

@mixin responsiveCardMinMobile {
    @media (min-width: 577px) and (max-width: $tabAbsensi) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin responsiveCardMaxTab {
    @media (min-width: 1201px) and (max-width: $maxTabAbsensi) {
        @content;
    }
}

@mixin responsiveTable {
    @media (max-width: 1350px) {
        @content;
    }
}

.wrapp-absensi{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: 70px;
    background-color: $color1;
    transition: 0.3s ease-in-out;
    padding: 80px 50px 40px 50px;

    @include maxMobile(){
        padding: 130px 10px 20px 10px;
        margin-left: 0;
    }

    @include responsiveCardMinMobile(){
        padding: 80px 5px 20px 40px;
    }

    .column-atas-absensi{
        display: flex;
        height: auto;
        width: 100%;

        @include mobile(){
            flex-direction: column;
        }

        @include responsiveCardMinMobile(){
            flex-direction: column;
        }

        @include responsiveCardMaxTab(){
            flex-direction: column;
        }

        .column-kiri-atas-absensi{
            display: flex;
            width: 80%;

            @include maxMobile(){
                flex-direction: column;
                width: 100%;
            }

            @include responsiveCardMinMobile(){
                flex-wrap: wrap;
                width: 100%;
            }

            @include responsiveCardMaxTab(){
                width: 100%;
            }

            .column-data-card-absensi{
                display: flex;
                flex-direction: column;
                height: auto;
                width: calc(96%/2);
                margin-right: 15px;

                @include maxMobile(){
                    width: 100%;
                    margin-right: 0;
                }

                @include responsiveCardMinMobile(){
                    width: calc(92%/2);
                }
            }
        }

        .column-kanan-atas-absensi{
            display: flex;
            flex-direction: column;
            width: 20%;

            @include maxMobile(){
                width: 100%;
            }

            @include responsiveCardMinMobile(){
                width: calc(96%/2);
                padding-right: 15px;
            }

            @include responsiveCardMaxTab(){
                width: calc(96%/4);
            }

            .column-btn-absensi{
                display: flex;
                flex-direction: column;
                width: auto;
                background-color: #fff;
                align-items: center;
                justify-content: center;
                padding: 15px;
                border: 1px solid $color19;
                margin-bottom: 20px;
                overflow: hidden;
                border-radius: 2px;
        
                .container-comment-absen-mhs{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    width: 100%;
        
                    .txt-optional-comment{
                        display: flex;
                        font-size: 11px;
                        color: $color6;
                        margin-bottom: 2px;
                    }
        
                    .input-comment-mhs{
                        display: flex;
                        width: 100%;
                        font-size: $font2;
                        color: $color2;
                        outline: none;
                        border: 1.5px solid $color6;
                        border-radius: 2px;
                        padding: 5px;
                        resize: none;
                    }
        
                    .column-input-komplain-absen{
                        display: flex;
                        flex-direction: column;
                        
                        .btn-group-komplain{
                            display: flex;
                            align-items: center;
                            padding: 3px 0;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            background-color: transparent;
                            color: $color2;
                            transition: 0.2s ease-in-out;
                            &:hover{
                                color: $color6;
                            }
                            
                            i{
                                display: flex;
                                transition: 0.2s ease-in-out;
                            }
        
                            .label-group-komplain{
                                display: flex;
                                text-align: start;
                                margin-left: 8px;
                                font-size: $font2;
                                font-weight: 600;
                                cursor: pointer;
                            }
                        }
                    }
        
                    .column-btn-submit-comment-absen-mhs{
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .container-tools-absen{
        display: flex;
        flex-direction: column;
        border-left: 2px solid $color16;
        border-right: 2px solid $color16;
        border-top: 2px solid $color16;
        background-color: #fff;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-top: 20px;

        @include responsiveCardMinMobile(){
            margin-right: 35px;
        }

        .title-rekap-absen{
            display: flex;
            font-size: $font2;
            color: $color2;
            padding: 10px;
            background-color: $color16;
            font-weight: 600;
            margin: -1px -1px 0 -1px;
        }
    }

    .column-bawah-absensi{
        display: flex;
        background-color: #fff;
        border-left: 2px solid $color16;
        border-right: 2px solid $color16;
        padding: 0 10px 10px 10px;

        @include responsiveCardMinMobile(){
            margin-right: 35px;
        }

        .container-scroll-rekap-absen{
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-x: auto;

            .table-absen{
                display: flex;
                flex-direction: column;
                width: auto;
                border-left: 1px solid $color16;

                @include responsiveTable(){
                    width: 1200px;
                }

                .column-list-absen{
                    display: flex;
                    border-bottom: 1px solid $color16;
                    transition: 0.2s ease-in-out;
                    background-color: $color17;
                }

                .no-data-available-absensi{
                    display: flex;
                    font-size: $font2;
                    color: $color2;
                    padding: 10px;
                    justify-content: center;
                    border-bottom: 1px solid $color16;
                    border-right: 1px solid $color16;
                }
            }
        }
    }

    .container-paginate-absensi{
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #fff;
        padding: 0 10px 10px 10px;
        border-left: 2px solid $color16;
        border-right: 2px solid $color16;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 2px solid $color16;

        @include responsiveCardMinMobile(){
            margin-right: 35px;
        }
    }

    .container-data-excel-download{
        display: none;
        z-index: -1;
    }

    #table-export-to-pdf{
        display: none;
    }

    #btn-csv-download{
        display: none;
        z-index: -1;
    }
}

.wrapp-absensi-active{
    margin-left: 230px;
    @include maxMobile(){
        margin-left: 0;
    }
}