@import '../../utils/variable.scss';

.wrapp-storage{
    display: flex;
    padding: 20px 0;

    .navbar-storage{
        display: flex;
        position: fixed;
        width: 100%;
        border-bottom: 1px solid #ddd;
        background-color: #eee;
        z-index: 99;
        padding: 10px 40px;
        top: 0;
        align-items: center;
    }

    .thumbnails-storage-pdf{
        display: flex;
        position: fixed;
        max-height: 100%;
        width: 20%;
        border-right: 1px solid #ddd;
        margin-right: 20px;
        z-index: 11;

        .scroll-thumbnails{
            display: flex;
            height: auto;
            overflow: auto;
            padding: 50px 0;
        }
    }

    .body-viewer-pdf{
        display: flex;
        height: auto;
        width: 100%;
        background-color: #fff;
        padding: 50px 0% 0 20%;
    }
}

.rpv-core-modal-body{
    width: 100%;
}